@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;

    font-family: 'SF Pro Text', sans-serif;
}

.setting-header {
    border: 1px solid #d7d7d7;
    position: fixed;
    width: 100%;
    background: #f6f6f7;
    z-index: 999;
    top: 0;
}

.setting-main {
    margin: 75px auto;
}

.setting-header .Polaris-Page {
    width: 100%;
    max-width: 100%
}

.setting-element {
    padding: 10px 0;
}

.app-goto-embeds{
    margin-top: 20px;
}

.app-embeds {
    display: flex;
    justify-content: space-between;
}

.app-embeds-title {
    display: flex;

}

.app-embeds-title span {
    margin-right: 10px;
}

.app-embed-icon {
    cursor: pointer;
}

.wrap-pages {
    border: 1px solid #E1E3E5;
    margin: 40px 0px;
}
.wrap-card {
    border: 1px solid #E1E3E5;
    margin: 18px 0px;
}

.noti-support {
    margin: 10px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.help-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6D7175;
    padding-top: 5px;
}
#setting_variables {
    color: #6D7175;
}
