@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    padding: 0;
    margin: 0;

    font-family: 'SF Pro Text', sans-serif;
}

.template-header {
    border: 1px solid #d7d7d7;
}

.template-header .Polaris-Page {
    width: 100%;
    max-width: 100%
}

.title-wrapper {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #6D7175;
}

.template-name {
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.template-detail-content {
    display: inline-flex;
}

.template-detail-menu {
    width: 25vw;
    min-width: 200px;

}

.template-detail-frame {
    padding: 1.5rem 0;
    width: 70vw;
    height: 100vh;
    min-width: 350px;
    min-height: 80%;
}

.title-option {
    display: flex;
}

.title-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px
}

.icon-option {
    cursor: pointer;
}

.icon-option span {

    width: 15px;
    height: 15px;
    color: rgba(109, 113, 117, 1);
}

.input-general {
    padding: 10px 20px
}

.input-general div div div label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.page-previous {
    cursor: pointer;
}

/*.Polaris-Modal-Dialog__Container div .Polaris-Modal-Dialog .Polaris-Modal-Dialog__Modal {*/
/*    min-width: 98vw;*/
/*    min-height: 98vh;*/
/*}*/
#PolarisPortalsContainer div[data-portal-id="modal-Polarisportal1"] div .Polaris-Modal-Dialog__Container div .Polaris-Modal-Dialog .Polaris-Modal-Dialog__Modal {
    min-width: 98vw;
    min-height: 98vh;
}
#PolarisPortalsContainer div[data-portal-id="modal-Polarisportal3"] div .Polaris-Modal-Dialog__Container div .Polaris-Modal-Dialog .Polaris-Modal-Dialog__Modal {
    min-width: 80vw;
    min-height: 80vh;
}
#PolarisPortalsContainer div[data-portal-id="modal-Polarisportal4"] div .Polaris-Modal-Dialog__Container div .Polaris-Modal-Dialog .Polaris-Modal-Dialog__Modal {
    min-width: 80vw;
    min-height: 80vh;
}
.Polaris-Modal-Dialog__Container {
    z-index: 9999999;
}
.template-detail-menu .Polaris-Page .Polaris-Page__Content .Polaris-Card .Polaris-Card__Header {
    padding-bottom: 14px;
    border-bottom: 1px solid #E1E3E5;
    margin-bottom: 8px;
}
.Polaris-Choice__Descriptions .Polaris-Choice__HelpText {
    margin-top: -5px;
}
.resource-item .title-template {
    width: 50%;
}
#hapo_variables {
    opacity: 0;
    position: absolute;
}
.Polaris-Select, .Polaris-Connected {
    z-index: 1;
}
.Polaris-Backdrop {
    pointer-events: none !important;
    position: fixed !important;
}
@media screen and (max-width: 940px) {
    .template-detail-content {display: unset !important;}
    .template-detail-menu {width: 100%; float: left}
    .template-detail-frame {width: 100%; float: left}
}