@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    padding: 0;
    margin: 0;

    font-family: 'SF Pro Text', sans-serif;
}

.template-header {
    border: 1px solid #d7d7d7;
}

.template-header .Polaris-Page {
    width: 100%;
    max-width: 100%
}

.title-wrapper {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #6D7175;
}

.template-name {
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.template-detail-content {
    display: inline-flex;
}

.template-detail-menu {
    width: 25vw;
    min-width: 200px;

}

.template-detail-frame {
    padding: 1.5rem 0;
    width: 70vw;
    height: 100vh;
    min-width: 350px;
    min-height: 80%;
}

.title-option {
    display: flex;
}

.title-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px
}

.icon-option span {
    width: 15px;
    height: 15px;
    color: rgba(109, 113, 117, 1);
}

.input-general {
    padding: 10px 20px
}

.input-general div div div label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.page-previous{
    cursor: pointer;
}
#hapo_variables {
    opacity: 0;
    position: absolute;
}
@media screen and (max-width: 940px) {
    .template-detail-content {display: unset !important;}
    .template-detail-menu {width: 100%; float: left}
    .template-detail-frame {width: 100%; float: left}
}